.editor-container {
    box-sizing: border-box;
    position: relative;
    padding-top: 0.5rem;
    min-width: 0;
    min-height: 0;
    height: 50%;
    width: 100%;

    @media (min-width: 55rem) {
        padding-bottom: 0.5rem;
        height: 100%;
        width: 50%;
    }
    
    #editor {
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        overflow: hidden;
        max-height: 100%;
        height: 100%;

        .editor-content {
            transform: translateZ(0);
            perspective: 2;

            background-color: rgb(20 20 20);
            padding-top: 1.75rem;
            max-height: 100%;
            overflow: auto;
            display: flex;
            height: 100%;

            .editor-line-numbers {
                position: sticky;
                z-index: 1;
                left: 0;

                .line-number {
                    counter-increment: line-number;

                    &.line-focused::before {
                        color: white;
                    }
                }

                .line-number::before {
                    background-color: rgb(20 20 20);
                    border-bottom: 0.1rem solid transparent;
                    border-top: 0.1rem solid transparent;
                    content: counter(line-number);
                    padding-right: 1.25rem;
                    line-height: 1rem;
                    text-align: right;
                    flex-shrink: 0;
                    display: grid;
                    color: grey;
                    width: 2.5rem;
                    height: 1rem;
                }
            }

            .editor-lines {
                width: 100%;

                .line {
                    border-bottom: 0.1rem solid transparent;
                    border-top: 0.1rem solid transparent;
                    position: relative;
                    line-height: 1rem;
                    white-space: pre;
                    font-size: 1rem;
                    display: flex;
                    cursor: text;
                    height: 1rem;
                    width: 100%;

                    .editor-cursor {
                        border-left: 0.1rem solid transparent;
                        height: 100%;

                        & > .cursor-input-receiver {
                            font-family: "syne-mono";
                            box-sizing: border-box;
                            line-height: 1rem;
                            outline: none;
                            font-size: 1rem;
                            resize: none;
                            height: 1rem;
                            width: 1px;
                            padding: 0;
                            opacity: 0;
                            border: 0;
                        }
                    }

                    &.line-focused {
                        .editor-cursor {
                            border-color: white;
                        }
                    }

                    &::after {
                        content: "";
                        flex-shrink: 0;
                        display: grid;
                        width: 2.5rem;
                    }

                    &:last-child {
                        padding-bottom: 1.5rem;
                    }
                }
            }
        }

        .editor-status {
            background-color: rgb(35 35 35);
            flex-direction: row-reverse;
            line-height: 0.8rem;
            position: sticky;
            display: flex;
            height: 0.8rem;
            width: 100%;
            bottom: 0;
            left: 0;

            .editor-status-text {
                font-size: 0.75rem;
                padding: 0 0.4rem;
            }
        }
    }
}
