.counter {
    counter-reset: line-number;
}

#editor {
    border: 0.2rem solid rgb(200, 200, 200);
    border-radius: 0.5rem;
    position: relative;
    margin: 0.5rem 0 0 0;
    box-sizing: border-box;
    overflow: hidden;
}

.editor-status {
    background-color: rgb(35 35 35);
    flex-direction: row-reverse;
    line-height: 0.8rem;
    position: sticky;
    display: flex;
    height: 0.8rem;
    width: 100%;
    bottom: 0;
    left: 0;

    .editor-status-text {
        font-size: 0.75rem;
        padding: 0 0.4rem;
    }
}

.editor-content {
    padding: 1.25rem 0 1rem 0;
    max-height: 25rem;
    overflow: auto;
    height: auto;
    width: auto;

    &::-webkit-scrollbar {
        height: 0.8rem;
        width: 0.8rem;
    }
  
    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background: rgba(255, 255, 255, 0.1);
    }

    &::-webkit-scrollbar-thumb:hover {
        background: rgba(255, 255, 255, 0.5);
    }

    &::-webkit-scrollbar-corner { 
        background: transparent;
    }

    .line {
        counter-increment: line-number;
        border-bottom: 0.1rem solid transparent;
        border-top: 0.1rem solid transparent;
        position: relative;
        line-height: 1rem;
        white-space: pre;
        font-size: 1rem;
        display: flex;
        cursor: text;
        height: 1rem;
        width: 100%;

        .editor-cursor {
            border-left: 0.1rem solid transparent;
            height: 100%;
        }

        &:focus {
            outline: none;

            &::before {
                color: white;
            }

            .editor-cursor {
                border-color: white;
            }
        }

        &::before {
            background-color: rgb(20 20 20);
            content: counter(line-number);
            padding-right: 1.25rem;
            text-align: right;
            position: sticky;
            flex-shrink: 0;
            display: grid;
            color: grey;
            width: 2.5rem;
            z-index: 1;
            left: 0;
        }

        &::after {
            content: "";
            flex-shrink: 0;
            display: grid;
            width: 2.5rem;
        }
    }
}
