.input-output-container {
    position: relative;
    flex-direction: column;
    display: flex;
    gap: 1.25rem;
    height: 100%;
    width: 100%;

    @media (min-width: 55rem) {
        width: 50%;
    }

    @media (min-width: 55rem) {
        & > :first-child {
            margin: 0.5rem 0 0 0;
        }
    }
}

.console {
    display: block;
    overflow: auto;
    background-color: black;
    padding: 0.3rem 0.6rem;
    font-size: 0.8rem;
}

#output {
    min-height: 5rem;
    max-height: 10rem;
}

#status {
    max-height: 5rem;
}

#input-form {
    display: flex;

    &.focus {
        #input {
            border-color: rgb(230, 230, 230);
        }
    }

    #input {
        background-color: rgb(40, 40, 40);
        color: rgb(230 230 230);
        font-family: "syne-mono";
        font-size: 0.8rem;
        padding: 0.5rem;
        outline: none;
        margin: 0;
        width: 75%;
    }

    #input-submit, #input-submit::before {
        font-size: 0.8rem;
        cursor: pointer;
        outline: none;
        padding: 0.5rem;
        border: none;
        margin: 0;
    }
    
    #input-submit {
        background-color: rgb(200, 200, 200);
        position: relative;
        width: 25%;

        &:hover::before {
            background-color: rgb(230, 230, 230);
            transform: translate(-50%, -70%);
        }
    
        &:active::before {
            transform: translate(-50%, -50%);
        }

        &.pressed::before {
            background-color: rgb(230, 230, 230);
            transform: translate(-50%, -50%);
        }

        &::before {
            border-radius: inherit;
            box-sizing: border-box;
            background-color: rgb(220 220 220);
            transform: translate(-50%, -65%);
            font-family: "syne-mono";
            color: rgb(40 40 40);
            content: attr(value);
            position: absolute;
            width: 100%;

            transition: ease 200ms;
        }
    }
}
