.editor-header {
    position: absolute;
    display: flex;
    top: -0.675rem;
    width: 100%;

    .editor-title {
        position: relative;
        margin: 0 0 0 1.25rem;

        h1 {
            position: relative;
            padding: 0 0.4rem;
            font-size: 1rem;
            z-index: 3;
        }

        &::before {
            content: "";
            background-color: rgb(20 20 20);
            transform: translateY(-50%);
            position: absolute;
            height: 0.4rem;
            width: 100%;
            z-index: 2;
            top: 50%;
        }
    }
    
    #options {
        display: inline-flex;
        margin-left: 4rem;

        button {
            background-color: transparent;
            position: relative;
            cursor: pointer;
            outline: none;
            border: none;
            padding: 0;

            &::before {
                content: "";
                background-color: rgb(20 20 20);
                transform: translateY(-50%);
                position: absolute;
                height: 0.4rem;
                width: 100%;
                z-index: 2;
                top: 50%;
            }
            
            &:hover, &:focus {
                img {
                    opacity: 1;
                }
            }
    
            &:active {
                img {
                    opacity: 0.3;
                }
            }
    
            img {
                position: relative;
                height: 1.5rem;
                opacity: 0.6;
                z-index: 3;
            }
        }

        & > :last-child {
            padding-right: 0.1rem;
        }
    }
}
